.photos-head {
    font-weight: 600;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}
.photo-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

.photo-grid img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    margin-bottom: 0;
}

.photo-grid {
    position: relative;
}

.title-bottom {
    display: block;
    border: 1px solid red;
    margin-bottom: 10px;
}

.photo-desc {
    margin-top: -5px;
    padding: 2px 0 5px 30px;
    
    color: rgba(0, 0, 0, 0.85);
    background-color: rgb(241, 241, 241);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    border: 0.5px solid rgb(246, 246, 246);
}

.whitespace {
    display: block;
    height: 2100px;
}

.title-bottom {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 60%;
    display: block;
    border: 1px solid red;
    margin-bottom: 10px;
}

.cs152 {
    margin-top: 28px;
    height: 590px;
    width: 80%; /* or any other desired maximum width */
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}