body {
    font-family: "Helvetica Neue", Roboto, Arial;
    padding: 3% 6% 0 6%;
    background-color: rgb(237, 237, 237);
}

.white-bkg {
    background-color: white;
    height: 6000px;
    margin-top: 0;
    padding: 80px 30px 0 30px;
    box-shadow: 0 0 4px 1px rgba(0,0,0,0.15);
    position: relative;
}

@media screen and (min-width: 700px) {
    body {
        padding: 3% 8% 0 8%;
    }
    .header {
        font-size: calc(1.2 * 1em);
    }
    .tr-desc {
        font-size: calc(1.2);
    }

}
@media screen and (min-width: 1000px) {
    body {
        padding: 3% 12% 0 12%;
    }

}
@media screen and (min-width: 1300px) {
    body {
        padding: 3% 16% 0 16%;
    }

}